services:
  api:
    image: mlops-api:latest
    container_name: mlops_api
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      mlflow:
        condition: service_started
      redis:
        condition: service_healthy

  frontend:
    image: mlops-frontend:latest
    container_name: mlops_frontend
    restart: always
    ports:
      - "3000:80"

  mlflow:
    image: mlops-api:latest
    container_name: mlflow_server
    restart: always
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow --default-artifact-root ./mlruns --host 0.0.0.0 --port 5000 --allowed-hosts "*"
    volumes:
      - ./mlflow_data:/mlflow
      - ./mlruns:/mlruns
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:13
    container_name: mlflow_db
    restart: always
    environment:
      - POSTGRES_USER=mlflow
      - POSTGRES_PASSWORD=mlflow
      - POSTGRES_DB=mlflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U mlflow" ]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - frontend

  redis:
    image: redis:alpine
    container_name: redis_broker
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  celery_worker:
    image: mlops-api:latest
    container_name: celery_worker
    restart: always
    command: celery -A src.celery_app worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      redis:
        condition: service_healthy
      api:
        condition: service_started
